fastapi
uvicorn[standard]
pymysql
sqlalchemy
python-dotenv
python-multipart
ffmpeg-python
pydub
librosa==0.9.2
scipy
audioread
scikit-image
alembic
python-jose[cryptography] 
passlib[bcrypt]
sqladmin
email-validator
Jinja2
itsdangerous
httpx
pydantic-settings